.main-content .content .content-bottom{
	margin-top:15px;
}
.main-content .content .content-bottom .title-active{
	background: url(../images/icon/title_transfer.png) no-repeat;
	width: 134px;
	padding-top: 8px;
	text-align: center;
	color: #fff;
}
.main-content .content .content-bottom .title-deactive{
	background: url(../images/icon/title_deactive.png) no-repeat;
	width: 166px;
	padding-top: 8px;
	text-align: center;
	color: #000;
}
.main-content .content .content-bottom .content-title{
	float: left;
	height: 22px;
	padding-top: 8px;
	text-align: center;
}
.main-content .content .content-bottom .drop-saving{
	background: #494949;
	height: 24px;
	padding-top: 10px;
	padding-left: 17px;
	color: #FFF;
	border-bottom: 1px solid #FFF;
}
.main-content .content .content-bottom .drop-saving .add_to_favorites{
	float: right;
	margin-right: 15px;
}
.main-content .content .content-bottom .drop-saving .add_to_favorites img{
	vertical-align: middle;
}
.main-content .content .content-bottom .drop-saving .add_to_favorites a{
	text-decoration: none;
	color: #bf9709;
}
.main-content .content .content-bottom .content-data-acc{
	background: rgba(255,255,255,0.8);
}
.main-content .content .content-bottom .content-data-acc .acc-label{
	width: 100px;
}
.main-content .content .content-bottom .content-data-acc .acc-data{
	color: #000;
	padding-left: 20px;
}
.main-content .content .content-bottom .content-data-acc table{
	border-collapse: collapse;
	width: 100%;
}
.main-content .content .content-bottom .content-data-acc table tr{
	border-bottom: 1px solid #fff;
}
.main-content .content .content-bottom .content-data-acc table tr td{
	padding: 10px 17px;
}
.main-content .content .content-bottom .content-data-acc table tr:last-child{
	border-bottom: none;
	padding-bottom: 0;
}
.main-content .content .content-bottom .content-data-acc table tr td .edit-name{
	text-decoration: none;
	color: #fff;
	background: #bf9709;
	margin-left: 10px;
	padding: 5px 10px;
	border-radius: 40px;
}
.main-content .content .content-bottom .content-data-acc table tr td .show-qr{
	float: right;
}
.main-content .content .content-bottom .content-data-acc table tr td .show-qr a{
	color: #2bace2; 
}
.main-content .content .content-bottom .content-data-acc-linked{
	background: rgba(255,255,255,0.8);
	color: #000;
}
.main-content .content .content-bottom .content-data-acc-linked table{
	border-collapse: collapse;
	width: 100%;
}
.main-content .content .content-bottom .content-data-acc-linked table tr{
	border-bottom: 1px solid #fff;
}
.main-content .content .content-bottom .content-data-acc-linked table tr td{
	padding: 10px 17px;
}
.main-content .content .content-bottom .content-data-acc-linked table tr:last-child{
	border-bottom: none;
	padding-bottom: 0;
}

.main-content .content .content-bottom .content-data-acc-linked table tr td img{
	vertical-align: middle;
}
.main-content .content .content-bottom .content-data-acc-linked table tr td.text-cyan{
	color: #2bace2;
}