.main-content .content .content-bottom{
	margin-top:15px;
}
.main-content .content .content-bottom .title-active{
	background: url(../images/icon/title_active.png) no-repeat;
	width: 177px;
	padding-top: 8px;
	text-align: center;
	color: #fff;
}
.main-content .content .content-bottom .title-deactive{
	background: url(../images/icon/title_deactive.png) no-repeat;
	width: 166px;
	padding-top: 8px;
	text-align: center;
	color: #000;
}
.main-content .content .content-bottom .content-title{
	float: left;
	height: 22px;
	padding-top: 8px;
	text-align: center;
}
.main-content .content .content-bottom .drop-saving{
	background: #494949;
	height: 24px;
	padding-top: 10px;
	padding-left: 17px;
	color: #FFF;
	border-bottom: 1px solid #FFF;
}
.main-content .content .content-bottom .content-trnasfer-acc{
	background: rgba(255,255,255,0.8);
}
.main-content .content .content-bottom .content-trnasfer-acc ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.main-content .content .content-bottom .content-trnasfer-acc ul li{
	padding: 7px 17px;
	border-bottom: 1px solid #FFFFFF;
}
.main-content .content .content-bottom .content-trnasfer-acc ul li:last-child{
	border-bottom: none;
}
.main-content .content .content-bottom .content-trnasfer-acc ul li a{
	text-decoration: none;
	color: #000;
}