


.main-content .content .content-top{
	background: rgba(255,255,255,0.8);
	height: 138px;
	margin-top: 35px;
}
.main-content .content .content-top .icon-menu{
	width: 200px;
	height: 138px;
	float: left;
	text-align: center;
	padding-top: 20px;
}
.main-content .content .content-top .icon-menu p{
	color: #000;
}
.border-orange{
	height: 5px;
	background: #e19342 none repeat scroll 0 0;
}

.main-content .content .content-bottom{
	margin-top:15px;
}
.main-content .content .round-bg-help{
    background: url(../images/icon/round.png) no-repeat;
    width: 78px;
    height: 65px;
    margin-left: 62px;
    color: #FFF;
    font-size:33px;
    padding-top: 18px;
    padding-left:1px;
}

.main-content .content .content-bottom .content-filter{
	height: 27px;
	background-image: url("../images/icon/bar_under.jpg");
	padding-top: 7px;
	padding-left: 7px;
}
.main-content .content .content-bottom .content-filter .txt-filter{
	height: 18px;
	width: 215px;
	border: none;
	border-radius: 1px;
}
.main-content .content .content-bottom .content-filter .btn-filter{
	height: 20px;
	width: 57px;
	border: none;
	background: #bf9709;
	margin-left: 10px;
	color: #FFF;
	font-weight: bold;
}
.main-content .content .content-bottom .content-filter .lb-keyword{
	margin-left: 10px;
	color:#000;
	margin-right: 30px;
}
.main-content .content .content-bottom .drop-new-transfer{
	background: #494949;
	height: 24px;
	padding-top: 10px;
	padding-left: 17px;
	color: #FFF;
}
.main-content .content .content-bottom .content-help-search{
	background: rgba(255,255,255,0.8);
	padding: 10px 0 30px 0;
}
.main-content .content .content-bottom .content-help-search table{
	color: #000;
	border-collapse: collapse;
	width: 100%;
}
.main-content .content .content-bottom .content-help-search table tr{
	border-bottom: 1px solid #FFF;
	padding: 15px 0;
}
.main-content .content .content-bottom .content-help-search table tr td{
	padding: 5px 0;
}
.main-content .content .content-bottom .content-help-search table tr:last-child{
	border-bottom: none;
}
.main-content .content .content-bottom .content-help-search .help-td-left{
	padding-left: 15px;
	width: 77px;
}
.main-content .content .content-bottom .content-help-search .help-check{

}
.main-content .content .content-bottom .content-help-search .btn-help{
	height: 20px;
	width: 57px;
	border: none;
	background: #e19342 none repeat scroll 0 0;
	margin-left: 5px;
	color: #FFF;
	font-weight: bold;
}