/*######### ADD PLUGIN FONT #########*/
@font-face{
    font-family: "Myriad-Pro";  
    src: url(../fonts/myriad-pro/MYRIADPRO-REGULAR.OTF) format("truetype");
}
/*######### END PLUGIN FONT #########*/
html ,body, h1,h2,h3,h4,h5,h6,p,strong{
	font-family: Myriad-Pro;
	font-size: 12px;
	color:#888888;
	margin: 0;
	padding: 0;
}
.clear{
	clear: both;
}
/*===== SECTION HEADER ======*/
.main-header{
	background-color: #1b1a1a;
}
.main-header .header{
	width: 1000px;
	margin: 0 auto;
}
.main-header .header .logo{
	float: left;
    height: 92px;
    width: 500px;
}
.main-header .header .menu-search{
	width: 500px;
	overflow: hidden;
}
.main-header .header .menu-search .menu{
	text-align: right;
}
.main-header .header .menu-search .menu ul{
	list-style: none;
	padding: 0;
}
.main-header .header .menu-search .menu ul li{
	display: inline;
	padding: 10px 15px;
}
.main-header .header .menu-search .menu ul li a{
	color: #FFF;
	text-decoration: none;
}
.search .field-search{
	border: 0 none;
    height: 24px;
    width: 150px;
    border-radius: 3px;
    margin-bottom: 0;
    padding-left: 3px;
    padding-right: 3px;
    transition: width 0.2s ease-in-out 0s;
    margin-right: -14px;
    background-color: #3f3f3d;
    color: #FFF;
}

.search .btn-search{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    left: -17px;
    margin-bottom: 0;
    margin-top: 3px;
    padding: 2px 5px;
    position: relative;
    color: #fff;
}
.section-search{
	 margin-bottom: 18px;
    margin-right: 14px;
    margin-top: 6px;
}
.section-search .search{
 	display: inline-block;
 	float: right;
}
.section-search .btn-pbank{
 	display: inline-block;
 	float: right;
}
/*===== SECTION HEADER =======*/
.main-content{
	
}
.bg-image-content-top{
	//background: rgba(0, 0, 0, 0) url("../images/bg_page.jpg") no-repeat scroll right center;
	position: absolute;
    width: 100%;
    z-index: 999;
}
.main-content .content{
	width: 1000px;
	margin: 0 auto;
}

.section-lang{
	margin: 0 auto;
    width: 1000px;
    position: relative;
    top: -34px;
}
.section-lang .language{
	 float: right;
    text-align: right;
    width: 250px;
    background: rgba(0, 0, 0, 0) url("../images/icon/bar.png") no-repeat scroll 0 0;
    padding: 9px;
}
.section-lang .language label{
	color: #FFF;
}
.top-lang{

}
.top-lang .div-lang{
	background-color: #E9A54E;
    float: right;
    height: 34px;
    width: 30%;
}
.top-lang .breadcrumb{
	display: inline-block;
    float: left;
    height: 32px;
    width: 50%;
}
.content-bg{
	//background-color: rgba(0, 0, 0, 0.6);

}
.content-top-lang{
	//background-color: rgba(0, 0, 0, 0.6);
	

}
.section-lang .language ul{
	display: inline-block;
    list-style: outside none none;
    margin: 0;
    padding-left: 4px;
}
.section-lang .language ul li{
	display: inline-block;	
	margin-left: 21px;
}
.section-lang .language ul li a{
	color: #fff;
    text-decoration: none;	
}
.content .desc-home-top{
	 padding-bottom: 214px;
    padding-top: 66px;
    text-align: right;
}
.content .desc-home-top h2.title{
	color: #ffffff;
    font-size: 30px;
    margin-bottom: 20px;
}
.desc-home-top .line{
	width: 354px;
	height: 1px;
	background-color: #FFFFFF;
	float: right;
	margin-bottom: 13px;
}
.content .desc-home-top p{
	color: #ffffff;
    font-size: 14px;
    line-height: 29px;
}
.buttonlearn {position: absolute; top: 320px; right: 14%; width: 120px; height: 34px; font-size: 18px; color: #ffffff; line-height: 34px; text-align: center; border: 1px solid white; border-radius:5px;}
.buttonlearn:hover {color: black; background-color: white;}

.bg-image-content-bottom{
	background: rgba(0, 0, 0, 0) url("../images/bg_footer_o.jpg") no-repeat scroll center top;	
}
.bg-image-content-bottom .content-bg{
	background-color: rgba(255, 255, 255, 0.5);
}
.desc-product{

}
.desc-product .section-product-title{
	padding-bottom: 42px;
	 padding-top: 70px;
}
.desc-product .section-product-title h2{
	color: #000000;
    font-size: 27.57px;
}
.desc-product .section-product-title p{
	font-size: 18.38px;
}
.section-business-type{

}
.section-business-type .lastest-news{
	float: left;
	margin-right: 24px;
}
.section-business-type .hot-product{
	float: left;
	margin-right: 24px;
}
.section-business-type .our-rates{
	float: left;
}
.content-bottom-bg{
	background-color: rgba(0, 0, 0, 0.6);
}
.section-business-desc{
 	padding-bottom: 71px;
    padding-top: 38px;
}
.section-business-desc p{
	color: #474646;
    line-height: 21px;
}
.section-business-desc p a.readmore{
	color: #870404;
	text-decoration: none;
}
.section-overview-title{
 	padding-bottom: 30px;
}
.section-overview-title h2.overview-title{
	font-size: 18px;
    padding-bottom: 5px;
    padding-top: 13px;
}
.section-overview-title p.sub-overview-title{
	color: #FFF;
	font-size: 13.75px;
}

.section-overview-items{
	padding-bottom: 70px;
}
.head-overview-item{
	 padding: 8px 0;
}
.head-overview-item h2{
	font-size: 13.75px;
	text-align: center;
	color: #FFF;
}
.section-overview-items .contact{
	border-right: 1px solid #fff;
    float: left;
    width: 281px;
    height: 199px;
     padding-right: 14px;
}
.section-overview-items .banking{
	 border-right: 1px solid #fff;
    float: left;
    height: 199px;
    padding-left: 32px;
    padding-right: 15px;
    width: 281px;
}
.section-overview-items .saving{
	float: left;
    height: 199px;
    padding-left: 40px;
    width: 281px;
}
.section-overview-items .body-overview-item{
	 padding-left: 13px;
    padding-right: 1px;
}
.section-overview-items .body-overview-item p{
	color: #FFF;
	font-size: 13.75px;
}
/*======= END CONTETN ========*/

.main-footer{
	
}
.main-footer .footer{

}

.section-left{
	float: left;
	width: 500px;
}
.section-left .section-description{
	padding: 164px 0;
}
.section-left .section-description span.line{
	background-color: #ffffff;
    display: inline-block;
    height: 5px;
    width: 422px;
    border-radius: 0 0 10px;
}
.section-left .section-description h1.title-desc{
	font-size: 69px;
	color: #edb022;
}
.section-left .section-description h2.title-sub-desc{
	font-size: 35px;
	color: #FFFFFF;
}

.section-left .section-description p.text-desc{
	font-size: 14px;
	color: #FFFFFF;
}

.section-right{
	overflow: hidden;

}

.footer{
	height: 51px;
    margin: 0 auto;
    padding-bottom: 12px;
    padding-top: 1px;
    width: 1000px;
}
.footer .section-left {
	float: left;
	width: 307px;
}
.footer .section-left h2.company-name{
	font-size: 27px;
	color:#edb022;
}
.footer .section-left .copy{
	color:#FFFFFF;
	padding-left: 27px;
}
.footer .section-center{
	float: left;
	width: 415px;
}
.footer .section-center .menu-footer{
    width: 0 auto;
} 
.footer .section-center .menu-footer .nav{

}

.nav:after {
    display:block;
    clear:both;
}

.footer .section-center .menu-footer .nav ul{
	margin-bottom: 17px;
    margin-top: 22px;
    list-style: none;
	padding: 0;
}

.footer .section-center .menu-footer .nav ul li{
	border-right: 1px solid #FFF;
    border-spacing: 10px 0;
    font-size: 14px;
    line-height: 0;
    margin: 0;
    padding: 4px 9.5px;
}
.footer .section-center .menu-footer .nav ul li:last-child { 
	border-right: none; 
	}
.footer .section-center .menu-footer .nav ul li a{
	color: #FFFFFF;	
	text-decoration: none;
	transition:all linear 0.15s;
}

.menu-footer > .nav > ul > li{
	display:inline-block;
    position:relative;
}
.menu-footer > .nav > ul > li > a {
    padding: 4px 5px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
.footer .section-right{
	overflow: hidden;
}
.footer .section-right .social{
	float: right;
    list-style: outside none none;
    margin: 8px 0 0;
    padding: 0;
    text-align: right;
    width: auto;
}
.footer .section-right .social li{
	margin: 0;
}
.footer .section-right .social li a{
	color: #FFFFFF;
}
.footer > .section-right > ul.social > li{
	display:inline-block;
    position:relative;
    padding-left: 17px;
}
.footer > .section-right > ul.social > li > a{
	padding: 4px 5px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}