.main-content .content .content-bottom{
	margin-top:15px;
}
.main-content .content .content-bottom .title-active{
	background: url(../images/icon/title_payment.png) no-repeat;
	width: 292px;
	padding-top: 8px;
	text-align: center;
	color: #fff;
	margin-left: -3px;
}
.main-content .content .content-bottom .content-filter{
	height: 27px;
	background-image: url("../images/icon/bar_under.jpg");
	padding-top: 7px;
	padding-left: 7px;
}
.main-content .content .content-bottom .content-filter .txt-filter{
	height: 18px;
	width: 215px;
	border: none;
	border-radius: 1px;
}
.main-content .content .content-bottom .content-filter .btn-filter{
	height: 20px;
	width: 57px;
	border: none;
	background: #bf9709;
	margin-left: 10px;
	color: #FFF;
	font-weight: bold;
}
.main-content .content .content-bottom .drop-saving{
	background: #494949;
	height: 24px;
	padding-top: 10px;
	padding-left: 17px;
	color: #FFF;
	border-bottom: 1px solid #FFF;
}
.main-content .content .content-bottom .content-trnasfer-acc{
	background: rgba(255,255,255,0.8);
}
.main-content .content .content-bottom .content-trnasfer-acc ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.main-content .content .content-bottom .content-trnasfer-acc ul li{
	padding: 7px 17px;
	border-bottom: 1px solid #FFFFFF;
}
.main-content .content .content-bottom .content-trnasfer-acc ul li:last-child{
	border-bottom: none;
}
.main-content .content .content-bottom .content-trnasfer-acc ul li a{
	text-decoration: none;
	color: #000;
}
.main-content .content .content-bottom .content-trnasfer-acc ul li img{
	vertical-align: middle;
}
.main-content .content .content-bottom .content-trnasfer-acc ul li .c-image{
	width: 30px;
	float: left;
}