.register-bg{
	background: rgba(255,255,255,0.8);
	padding-bottom: 80px;
    padding-top: 20px;
}

.register-bg .form-register{
	width: 485px;
	margin: 0 auto;
}

.form-register .form{

}

.form-register .logo-comname{
	text-align: center;
}
.form-register .logo-comname h3{
	font-size: 25px;
    margin: 12px 0;
}
.form-register .form .form-row{
 margin-bottom: 3px;
}
.form-register .form .form-row .col-label{
	 display: inline-block;
    margin-right: 14px;
    text-align: right;
    width: 180px;
}
.form-register .form .form-row .col-label label{
	  color: #000000;
}
.form-register .form .form-row .col-field{
	display: inline-block;
}
.form-register .form .form-row .col-field .text-field{
	width: 130px;
}

.form-register .form .form-row .col-field .text-informed{
	width: 130px;
	overflow:hidden;
	height: 55px;
	 resize: none;
}

.form-register .form .form-row .col-field .btnnext{
	 background-color: #e19342;
    border: 0 none;
    color: #fff;
    padding: 4px 11px;
}

.form-register .form .form-row .col-field .bank-card-number{
	width: 37px;
}

.form-register .form .form-row .col-field .check-policied{
	margin: 0;
}

.field-policied{
	margin: 12px 0 !important;
}