.main-content .content .content-bottom{
	margin-top:15px;
}
.main-content .content .content-bottom .title-active{
	background: url(../images/icon/title_transfer.png) no-repeat;
	width: 134px;
	padding-top: 8px;
	text-align: center;
	color: #fff;
}
.main-content .content .content-bottom .title-deactive{
	background: url(../images/icon/title_deactive.png) no-repeat;
	width: 166px;
	padding-top: 8px;
	text-align: center;
	color: #000;
}
.main-content .content .content-bottom .content-title{
	float: left;
	height: 22px;
	padding-top: 8px;
	text-align: center;
}
.main-content .content .content-bottom .content-filter{
	height: 27px;
	background-image: url("../images/icon/bar_under.jpg");
	padding-top: 7px;
	padding-left: 7px;
}
.main-content .content .content-bottom .label-select{
	margin-right: 30px;
	margin-left: 10px;
	color: #FFF;
}
.main-content .content .content-bottom .label-fromto{
	margin-right: 10px;
	color: #000;
}
.main-content .content .content-bottom .content-filter .txt-filter{
	height: 18px;
	width: 150px;
	border: none;
	border-radius: 1px;
}
.main-content .content .content-bottom .content-filter .btn-filter{
	height: 20px;
	width: 57px;
	border: none;
	background: #bf9709;
	margin-left: 10px;
	color: #FFF;
	font-weight: bold;
}
.main-content .content .content-bottom .user-data-bar{
	background: #494949;
	height: 24px;
	padding-top: 10px;
	padding-left: 17px;
	color: #ebc026;
	border-bottom: 1px solid #FFF;
}
.main-content .content .content-bottom .drop-saving{
	background: #494949;
	height: 24px;
	padding-top: 10px;
	padding-left: 17px;
	color: #FFF;
	border-bottom: 1px solid #FFF;
}
.main-content .content .content-bottom .drop-saving img{
	vertical-align: middle;
}
.main-content .content .content-bottom .content-user-data{
	background: rgba(255,255,255,0.8);
}
.main-content .content .content-bottom .content-user-data .user-profile{
	text-align: center;
	padding: 20px 0;
}
.main-content .content .content-bottom .content-user-data .user-profile p{
	color: #ebc026;
	font-weight: bold;
	padding-top: 10px;
	font-size:14px;
}
.main-content .content .content-bottom .content-user-data .data-user{
	padding-bottom: 20px;
}
.main-content .content .content-bottom .content-user-data .data-user table{
	width: 100%;
	border-collapse: collapse;
}
.main-content .content .content-bottom .content-user-data .data-user table tr td{
	padding: 5px;
}
.main-content .content .content-bottom .content-user-data .data-user table tr.tr-head{
	background: #494949;
	color: #FFF;
}
.main-content .content .content-bottom .content-user-data .data-user table tr.tr-head td{
	padding: 20px 10px;
}
.main-content .content .content-bottom .content-user-data .data-user table tr.tr-data{
	color: #000;
	border-bottom: 1px solid #fff;
}
.main-content .content .content-bottom .content-user-data .data-user table tr.tr-data td{
	padding: 5px 10px;
}
.main-content .content .content-bottom .content-user-data .data-user table tr.tr-data td:last-child{
	text-align: right;
}
.main-content .content .content-bottom .content-user-data .data-user table tr.tr-data .td-blue{
	color: #2bace2;
}
.main-content .content .content-bottom .content-user-data .data-total{
	text-align: right;
	float: right;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-top: -10px;
}
.main-content .content .content-bottom .content-user-data .data-total table tr td{
	color: #000;
}
.main-content .content .content-bottom .content-user-data .data-total table tr td:last-child{
	font-weight: bold;
}