/*######### ADD PLUGIN FONT #########*/
@font-face{
    font-family: "Myriad-Pro";  
    src: url(../fonts/myriad-pro/MYRIADPRO-REGULAR.OTF) format("truetype");
}
/*######### END PLUGIN FONT #########*/
/*######### CLEAR DIV BOTH #########*/
.clear{
	clear:both;
}
/*######### END CLEAR DIV BOTH #########*/
html ,body, h1,h2,h3,h4,h5,h6,p,strong{
	font-family: Myriad-Pro;
	font-size: 12px;
	color:#888888;
	margin: 0;
	padding: 0;
}
body{
	background: rgba(0, 0, 10, 0.8) url(../images/business-international-03.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/*######### BLOCK HEADER ########## */
.main-header{
	height: 90px;
	padding: 1px 0;
	background-color: #1b1b1b;
	border-top: 4px solid #e19342;
}
.main-header .header{
	width: 1000px;
	margin: 0 auto;
}
.main-header .header .section-logo{
	width: 500px;
	float: left;
}
.main-header .header .section-logo img{
	width: 92px;
	height: 91px;
}
.btn-register-field{
     margin-left: 38px;
    margin-top: 10px;
    text-align: left;
}

.help{
    text-align: right;
}
.btn-row-register{
    display: inline-block;
}
.row-help{
    display: inline-block;
    float: right;
    margin-right: 38px;
    margin-top: 12px;
    right: 0;
}
.btn-register-field a{
    
}

.search{

}
.search .field-search{
	border: 0 none;
    height: 24px;
    width: 150px;
    border-radius: 3px;
    margin-bottom: 0;
    padding-left: 3px;
    padding-right: 3px;
    transition: width 0.2s ease-in-out 0s;
    margin-right: -7px;
    background-color: #3f3f3d;
    color: #FFF;
}

.search .btn-search{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    left: -23px;
    margin-bottom: 0;
    margin-top: 3px;
    padding: 2px 5px;
    position: relative;
    color: #fff;
}
.main-header .header .section-search-menu{
	width: 500px;
	overflow: hidden;
}
.main-header .header .section-search-menu .search{
	float: right;
    text-align: right;
    width: auto;
    margin-top: 5px;
}
.main-header .header .section-search-menu .menu{
	float: right;
    text-align: right;
    width: auto;
} 
.main-header .header .section-search-menu .menu .nav{

}
.main-header .header .section-search-menu .menu .nav ul{
	list-style: none;
	padding: 0;
}

.nav:after {
    display:block;
    clear:both;
}

.main-header .header .section-search-menu .menu .nav ul li{
	margin:0px;
	padding: 4px 19px;
	font-size: 14px;
}
.main-header .header .section-search-menu .menu .nav ul li a{
	color: #FFFFFF;	
	text-decoration: none;
	transition:all linear 0.15s;
}

.menu > .nav > ul > li{
	display:inline-block;
    position:relative;
}

.menu > .nav > ul > li > a {
    padding: 4px 5px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}

/*######### END BLOCK HEADER ########## */


/*######### BLOCK CONTENT ########## */
.main-content{
	
}
.main-content .content{
	margin: 0 auto;
	width: 1000px;
}
.main-content .content .section-left{
	float: left;
	width: 500px;
}
.main-content .content .section-left .section-description{
	padding: 164px 0;
}
.main-content .content .section-left .section-description span.line{
	background-color: #ffffff;
    display: inline-block;
    height: 5px;
    width: 422px;
    border-radius: 0 0 10px;
}
.main-content .content .section-left .section-description h1.title-desc{
	font-size: 69px;
	color: #edb022;
}
.main-content .content .section-left .section-description h2.title-sub-desc{
	font-size: 35px;
	color: #FFFFFF;
}

.main-content .content .section-left .section-description p.text-desc{
	font-size: 14px;
	color: #FFFFFF;
}

.main-content .content .section-right{
	overflow: hidden;

}

/*== FORM LOGIN ==*/
.form-login{
	background-color: rgba(255, 255, 255, 0.5);
    height: 363px;
   
    width: 451px;
    margin-top: 125px;
    border-top: 4px solid #e19342;
    margin-bottom: 127px;
    margin-left: 25px;
}
.form-login form.form{
	padding-top: 58px;
    text-align: center;
}
.form-login .title-login{
	color: #000000;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 30px;
}
.form-login .btn-field{

}
.form-login .btn-field .logon{
	background-color: #fff;
    border: 0 none;
    font-size: 18px;
    padding: 5.5px;
    width: 117px;
}
.form-login .text-field{
	margin-bottom: 11px;
}
.form-login .text-field .field-form{
	background-color: #292827;
    border: 0 none;
    color: #ffffff;
    height: 36px;
    width: 353px;
    padding: 1px 11px;
}
/*== END FORM LOGIN ==*/
/*######### END BLOCK CONTENT ########## */


/*######### BLOCK FOOTER ########## */
.main-footer{
	background-color: #282828;
    box-shadow: 1px 0 1px #202020;
    opacity: 0.8;
}
.main-footer .footer{
	height: 51px;
    margin: 0 auto;
    padding-bottom: 12px;
    padding-top: 1px;
    width: 1000px;
}
.footer .section-left {
	float: left;
	width: 307px;
}
.footer .section-left h2.company-name{
	font-size: 27px;
	color:#edb022;
}
.footer .section-left .copy{
	color:#FFFFFF;
	padding-left: 27px;
}
.footer .section-center{
	float: left;
	width: 415px;
}
.footer .section-center .menu-footer{
    width: 0 auto;
} 
.footer .section-center .menu-footer .nav{

}

.nav:after {
    display:block;
    clear:both;
}

.footer .section-center .menu-footer .nav ul{
	margin-bottom: 17px;
    margin-top: 22px;
    list-style: none;
	padding: 0;
}

.footer .section-center .menu-footer .nav ul li{
	border-right: 1px solid;
    border-spacing: 10px 0;
    font-size: 14px;
    line-height: 0;
    margin: 0;
    padding: 4px 9.5px;
}
.footer .section-center .menu-footer .nav ul li:last-child { 
	border-right: none; 
	}
.footer .section-center .menu-footer .nav ul li a{
	color: #FFFFFF;	
	text-decoration: none;
	transition:all linear 0.15s;
}

.menu-footer > .nav > ul > li{
	display:inline-block;
    position:relative;
}
.menu-footer > .nav > ul > li > a {
    padding: 4px 5px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
.footer .section-right{
	overflow: hidden;
}
.footer .section-right .social{
	float: right;
    list-style: outside none none;
    margin: 8px 0 0;
    padding: 0;
    text-align: right;
    width: auto;
}
.footer .section-right .social li{
	margin: 0;
}
.footer .section-right .social li a{
	color: #FFFFFF;
}
.footer > .section-right > ul.social > li{
	display:inline-block;
    position:relative;
    padding-left: 17px;
}
.footer > .section-right > ul.social > li > a{
	padding: 4px 5px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
/*######### END BLOCK FOOTER ########## */