/*######### ADD PLUGIN FONT #########*/
@font-face{
    font-family: "Myriad-Pro";  
    src: url(../fonts/myriad-pro/MYRIADPRO-REGULAR.OTF) format("truetype");
}
/*######### END PLUGIN FONT #########*/
/*######### CLEAR DIV BOTH #########*/
.clear{
	clear:both;
}
/*######### END CLEAR DIV BOTH #########*/
html ,body, h1,h2,h3,h4,h5,h6,p,strong{
	font-family: Myriad-Pro;
	font-size: 12px;
	color:#888888;
	margin: 0;
	padding: 0;
}
body{
	background: rgba(0, 0, 10, 0.8) url(../images/bg_page.jpg) no-repeat top right scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/*######### BLOCK HEADER ########## */
.main-header{
	height: 90px;
	padding: 1px 0;
	background-color: rgba(0,0,0,0.5);
	border-top: 4px solid #e49845;
}
.main-header .header{
	width: 1000px;
	margin: 0 auto;
}
.main-header .header .section-logo{
	width: 400px;
	float: left;
}


.main-header .header .section-logo img{
	width: 92px;
	height: 91px;
}
.main-header .header .section-menu{
	width: 600px;
	overflow: hidden;
    padding-top: 20px;
}
.main-header .header .section-menu .search{
	float: right;
    text-align: right;
    width: auto;
    margin-top: 5px;
}
.main-header .header .section-menu .menu{
	float: right;
    text-align: right;
    width: auto;
}
.main-header .header .section-menu .menu .nav ul{
	list-style: none;
	padding: 0;
}

.nav:after {
    display:block;
    clear:both;
}

.main-header .header .section-menu .menu .nav ul li{
	margin:0px;
	padding: 4px 19px;
	font-size: 14px;
}
.main-header .header .section-menu .menu .nav ul li a{
	color: #FFFFFF;	
	text-decoration: none;
	transition:all linear 0.15s;
}

/*######### BLOCK NAV BAR ########## */

.main-header .nav-bar{
    width: 1000px;
    margin: 0 auto;
}
.main-header .nav-bar .menu{
    float: left;
    text-align: left;
    width: 524px;
}
.main-header .nav-bar .menu .nav ul{
    list-style: none;
    padding: 0;
}

.main-header .nav-bar .menu .nav ul li{
    margin:0px;
    padding: 0px 17px 0px 0px;
    font-size: 14px;
}
.main-header .nav-bar .menu .nav ul li a{
    color: #FFFFFF; 
    text-decoration: none;
    transition:all linear 0.15s;
}
.main-header .nav-bar .arrow-img{
    padding: 0px 17px 0px 0px;
}

/*=================== START BREAKCRUMB ===================*/

.breadcrumb-lang .section-account-language{
    width: 47%;
    height: 34px;
    float: right;
    margin-top: -3px;
    background-color: #da8236;
}
.breadcrumb-lang{

}

.breadcrumb-lang .breadcrumb{
    display: inline-block;
    float: left;
    height: 32px;
    width: 50%;
}
.breadcrumb-lang .breadcrumb-lang{
    overflow: hidden;
}
.wrap-breadcrumb-lang{
    margin: 0 auto;
    position: relative;
    top: -35px;
    width: 1000px;
}
.wrap-breadcrumb-lang .wrap-nav{
    width: 500px;
    float: left;
    margin-top: 10px;
}
.wrap-breadcrumb-lang .wrap-nav ul{
    display: block;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.wrap-breadcrumb-lang .wrap-nav ul li{
    display: inline-block;
    margin-right: 12px;
}
.wrap-breadcrumb-lang .wrap-nav ul li a{
    text-decoration: none;
    color: #FFF;
}
.arrow-img{
    display: inline-block;
    margin-right: 12px;
}
.wrap-breadcrumb-lang .wrap-section-account-language{
     background: rgba(0, 0, 0, 0) url("../images/icon/bar.png") no-repeat scroll 0 0;
    overflow: hidden;
    padding: 10px;
}
.wrap-section-account-language .section-account{
     margin-left: 30px;
}
.wrap-section-account-language .section-account span{
    margin-right: 10px;
}

.wrap-section-account-language .section-account .user_account{
    float: left;
    padding-left: 5px;
    padding-right: 22px;
     font-size: 14px;
}

.user_account a{
    color: #000000;
    text-decoration: none;
    margin-left: 2px;
}

.wrap-section-account-language .section-account .lang{
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    float: left;
   /* margin-left: 22px;*/
   padding-left: 9px;
    margin-top: -4px;
     font-size: 14px;
}
.wrap-section-account-language .section-account .lang ul .en{
    padding-right: 25px;
}
.wrap-section-account-language .section-account .logout{
    float: left;
    margin-left: 10px;
     font-size: 14px;

}
.wrap-section-account-language .section-account .logout a{
    color: #FFF;
    text-decoration: none;
}
.wrap-section-account-language .section-account .logout a i{
   margin-left: 15px;
}
.wrap-section-account-language .section-account .lang ul{
     list-style: outside none none;
    margin: 3px;
    padding: 0;
}

.wrap-section-account-language .section-account .lang ul li{
     display: inline;
    padding-right: 10px;
}
.wrap-section-account-language .section-account .lang ul li a{
    color: #FFF;
    text-decoration: none;
    display: inline-flex;
}

.wrap-section-account-language .section-account .lang ul li a img{
    margin-left: 9px;   
}

/*=================== END BREAKCRUMB ===================*/



/*######### END BLOCK NAV BAR ########## */

.menu > .nav > ul > li{
	display:inline-block;
    position:relative;
}

.menu > .nav > ul > li > a {
    padding: 0px 0px 4px 0px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}

/*######### END BLOCK HEADER ########## */


/*######### BLOCK CONTENT ########## */
.main-content{
	
}
.main-content .content{
	margin: 0 auto;
	width: 1000px;
    min-height: 500px;
}
.main-content .content .content-top{
    background: rgba(255,255,255,0.8);
    height: 138px;
    margin-top: 35px;
}
.main-content .content .content-top .icon-menu{
    width: 333px;
    height: 138px;
    float: left;
    text-align: center;
    padding-top: 20px;
}
.main-content .content .content-top .icon-menu p{
    color: #000;
}
.main-content .content .round-bg{
    background: url(../images/icon/round.png) no-repeat;
    width: 78px;
    height: 65px;
    margin-left: 128px;
    color: #FFF;
    font-size:33px;
    padding-top: 18px;
    padding-left:1px;
}
.border-orange{
    height: 5px;
    background: #e19342;
}
.main-content .content .content-bottom .title-bg-left{
    background: url(../images/icon/left.png) no-repeat;
    width: 15px;
    height: 30px;
    float: left;
}
.main-content .content .content-bottom .title-bg-right{
    background: url(../images/icon/right.png) no-repeat;
    width: 15px;
    height: 30px;
    float: left;
}
.main-content .content .content-bottom .title-bg-center{
    background: url(../images/icon/rep.png) repeat;
    height: 22px;
    padding: 8px 10px 0 10px;
    text-align: center;
    color: #fff;
    float: left;
}
/*== END FORM LOGIN ==*/
/*######### END BLOCK CONTENT ########## */


/*######### BLOCK FOOTER ########## */
.main-footer{
	background-color: #282828;
    box-shadow: 1px 0 1px #202020;
    opacity: 0.8;
}
.main-footer .footer{
	height: 51px;
    margin: 0 auto;
    padding-bottom: 12px;
    padding-top: 1px;
    width: 1000px;
}
.footer .section-left {
	float: left;
	width: 307px;
}
.footer .section-left h2.company-name{
	font-size: 27px;
}
.footer .section-left .copy{
	color:#FFFFFF;
	padding-left: 27px;
}
.footer .section-center{
	float: left;
	width: 415px;
}
.footer .section-center .menu-footer{
    width: 0 auto;
} 
.footer .section-center .menu-footer .nav{

}

.nav:after {
    display:block;
    clear:both;
}

.footer .section-center .menu-footer .nav ul{
	margin-bottom: 17px;
    margin-top: 22px;
    list-style: none;
	padding: 0;
}

.footer .section-center .menu-footer .nav ul li{
	border-right: 1px solid;
    border-spacing: 10px 0;
    font-size: 14px;
    line-height: 0;
    margin: 0;
    padding: 4px 9.5px;
}
.footer .section-center .menu-footer .nav ul li:last-child { 
	border-right: none; 
	}
.footer .section-center .menu-footer .nav ul li a{
	color: #FFFFFF;	
	text-decoration: none;
	transition:all linear 0.15s;
}

.menu-footer > .nav > ul > li{
	display:inline-block;
    position:relative;
}
.menu-footer > .nav > ul > li > a {
    padding: 4px 5px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
.footer .section-right{
	overflow: hidden;
}
.footer .section-right .social{
	float: right;
    list-style: outside none none;
    margin: 8px 0 0;
    padding: 0;
    text-align: right;
    width: auto;
}
.footer .section-right .social li{
	margin: 0;
}
.footer .section-right .social li a{
	color: #FFFFFF;
}
.footer > .section-right > ul.social > li{
	display:inline-block;
    position:relative;
    padding-left: 17px;
}
.footer > .section-right > ul.social > li > a{
	padding: 4px 5px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
.footer-service{
    background-color: rgba(50,50,50,0.5);
    height: 30px;
    margin-top: 30px;
}
.footer-service .section-service{
    width: 1000px;
    margin: 0 auto;
}
.footer-service .section-left{
    float: left;
    margin-left: 15px;
    padding-top: 7px;
}
.footer-service .section-service .text-support{
    color: #FFFFFF;
    float: left;
}
.footer-service .section-service .service-contact{
    margin-left: 20px;
    margin-right: 5px;
}
.footer-service .section-service .ruler{
    margin-left: 20px;
    color: #FFFFFF;
    float: left;
}
.footer-service .section-right{
    float: right;
    margin-top: 7px;
    margin-right: 15px;
}
.footer-service .section-right .rate-num{
    color: #EBC026;
}
.footer-service .section-right .equal{
    color: #FFFFFF;
    float: left;
}
.footer-service .gradient{
    display: inline;
}
.footer-service .content-contact{
    float: left;
}
.footer-service .contact-icon{
    font-size: 18px;
    color: rgb(233, 166, 79);
}
/*######### END BLOCK FOOTER ########## */