


.main-content .content .content-top{
	background: rgba(255,255,255,0.8);
	height: 138px;
	margin-top: 35px;
}
.main-content .content .content-top .icon-menu{
	width: 333px;
	height: 138px;
	float: left;
	text-align: center;
	padding-top: 20px;
}
.main-content .content .content-top .icon-menu p{
	color: #000;
}
.border-orange{
	height: 5px;
	background: #e19342 none repeat scroll 0 0;
}

.main-content .content .content-bottom{
	margin-top:15px;
}
.main-content .content .content-bottom .content-filter{
	height: 27px;
	background-image: url("../images/icon/bar_under.jpg");
	padding-top: 7px;
	padding-left: 7px;
}
.main-content .content .content-bottom .content-filter .txt-filter{
	height: 18px;
	width: 215px;
	border: none;
	border-radius: 1px;
}
.main-content .content .content-bottom .content-filter .btn-filter{
	height: 20px;
	width: 57px;
	border: none;
	background: #bf9709;
	margin-left: 10px;
	color: #FFF;
	font-weight: bold;
}
.main-content .content .content-bottom .drop-new-transfer{
	background: #494949;
	height: 24px;
	padding-top: 10px;
	padding-left: 17px;
	color: #FFF;
	border-bottom: 1px solid #FFF;
}
.main-content .content .content-bottom .content-trnasfer-acc{
	background: rgba(255,255,255,0.8);
}
.main-content .content .content-bottom .content-trnasfer-acc ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.main-content .content .content-bottom .content-trnasfer-acc ul li{
	padding: 7px 17px;
	border-bottom: 1px solid #FFFFFF;
}
.main-content .content .content-bottom .content-trnasfer-acc ul li:last-child{
	border-bottom: none;
}
.main-content .content .content-bottom .content-trnasfer-acc ul li a{
	text-decoration: none;
	color: #000;
}