.main-content .content .content-bottom{
	margin-top:15px;
}
.main-content .content .content-bottom .title-active{
	background: url(../images/icon/title_transfer.png) no-repeat;
	width: 134px;
	padding-top: 8px;
	text-align: center;
	color: #fff;
}
.main-content .content .content-bottom .title-deactive{
	background: url(../images/icon/title_deactive.png) no-repeat;
	width: 166px;
	padding-top: 8px;
	text-align: center;
	color: #000;
}
.main-content .content .content-bottom .content-title{
	float: left;
	height: 22px;
	padding-top: 8px;
	text-align: center;
}
.main-content .content .content-bottom .content-filter{
	height: 27px;
	background: #ebc026;
	padding-top: 7px;
	padding-left: 7px;
}
.main-content .content .content-bottom .content-filter .txt-filter{
	height: 18px;
	width: 215px;
	border: none;
	border-radius: 1px;
}
.main-content .content .content-bottom .content-filter .btn-filter{
	height: 20px;
	width: 57px;
	border: none;
	background: #bf9709;
	margin-left: 10px;
	color: #FFF;
	font-weight: bold;
}
.main-content .content .content-bottom .user-data-bar{
	background: #494949;
	height: 24px;
	padding-top: 10px;
	padding-left: 17px;
	color: #ebc026;
	border-bottom: 1px solid #FFF;
}
.main-content .content .content-bottom .drop-saving{
	background: #494949;
	height: 24px;
	padding-top: 10px;
	padding-left: 17px;
	color: #FFF;
	border-bottom: 1px solid #FFF;
}
.main-content .content .content-bottom .drop-saving img{
	vertical-align: middle;
}
.main-content .content .content-bottom .content-user-data{
	background: rgba(255,255,255,0.8);
}
.main-content .content .content-bottom .content-user-data .user-profile{
	text-align: center;
	padding: 20px 0;
}
.main-content .content .content-bottom .content-user-data .user-profile p{
	color: #ebc026;
	font-weight: bold;
	padding-top: 10px;
	font-size:14px;
}
.main-content .content .content-bottom .content-user-data .data-user{
	padding-bottom: 20px;
}
.main-content .content .content-bottom .content-user-data .data-user table{
	width: 100%;
}
.main-content .content .content-bottom .content-user-data .data-user table tr td{
	width: 50%;
	padding: 5px;
}
.main-content .content .content-bottom .content-user-data .data-user table .data-user-data{
	text-align: left;
	color:#000;
	padding-left: 5px;
}
.main-content .content .content-bottom .content-user-data .data-user table .data-user-label{
	text-align: right;
	padding-right: 5px;
}